*{
    text-align: center;
}
body{
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='coral',endColorstr='#ffffff',GradientType=0); /* IE6-9 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,coral), color-stop(100%,#e19fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  coral 0%,#e19fff 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  coral 0%, #e19fff 100%); /* FF3.6+  */
    height:1500px;
}
abbr{
    text-decoration: underline;
}
.shadowEffect{
    text-shadow: 3px 3px 2px #ff82d9;
}
.pictureshadow{
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
}