*{
    text-align: center;
}
body{
    background: -webkit-linear-gradient(left,  coral 0%,#e19fff 100%); /* Chrome10+,Safari5.1+ */
    height:1500px;
}
abbr{
    text-decoration: underline;
}
.shadowEffect{
    text-shadow: 3px 3px 2px #6b6b6b;
}
.pictureshadow{
    -moz-box-shadow: 0 0 20px #e598e7;
    -webkit-box-shadow: 0 0 20px #e598e7;
    box-shadow: 0 0 20px #e598e7;
}
.imageElements{
    vertical-align: center;
}